<br>
<h2>Photo Contributors</h2>
<!-- FIXME: make table using an *ngFor to pull data from Firebase -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Website</th>
            <th scope="col">Photos Contributed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Example Name 1</td>
            <td>Example Website 2</td>
            <td>Example Photos</td>
        </tr>

        <tr>
            <td>Example Name 2</td>
            <td>Example Website 2</td>
            <td>Example Photos</td>
        </tr>
    </tbody>
</table>