<!DOCTYPE html>
<html>
  <head>
    <title>Block Island Moths</title>
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  </head>

  <body>
    <br>
    <div class="jumbotron">
      <h1 class="display-4">{{title}}</h1>
      <h2>A comprehensive account of the various moth species of Block Island, RI.</h2>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <!-- <a routerLink="/home" class="navbar-brand">Block Island Moths</a> -->
      <a class="navbar-brand" href="#">
        <img routerLink="/home" src="https://image.flaticon.com/icons/svg/1357/1357484.svg" width="35" height="35">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-left mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/moths" routerLinkActive="active">Moths</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/paper" routerLinkActive="active">Paper</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/photo-contributors" routerLinkActive="active">Photo Contributors</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="mailto: blockislander1@gmail.com">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <router-outlet></router-outlet>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyCKmAOO0nQWHNeWWzQdcV_x9WYMIdtB9B0",
      authDomain: "block-island-moths.firebaseapp.com",
      databaseURL: "https://block-island-moths.firebaseio.com",
      projectId: "block-island-moths",
      storageBucket: "block-island-moths.appspot.com",
      messagingSenderId: "415890569859",
      appId: "1:415890569859:web:8a0d059e342cf393e5b9b6"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    </script>
  </body>
</html>