<br>
<h1>
    Welcome to Block Island Moths!
</h1>
<br>
<h2>
    This site is a virtual collection of the moth phenology research conducted by Aaron Hunt.
</h2>
<p>
    Aaron Hunt has spent several years surveying the moths of Block Island, Rhode Island. His official species list currently sits at exactly 1000; this includes some species found on older surveys on the island but excludes a number of unidentified species. Aaron has sampled at locations throughout the island with the goal of determining species abundance, local distribution, and flight times. This website serves as a comprehensive guide to the island’s moths based on his research.
</p>